{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!--css styling is not external because import doesnt work somehow-->

<style>
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:300,400|Dosis:300,400,700");
text {
  max-width: 900px;
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
}
article {
  max-width: 900px;
  margin: 20px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  color: #36363c;
}
article h1 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 2.5rem;
}
article .highlight-link {
  text-decoration: none;
  color: #36363c;
  display: inline-block;
  padding: 0px 7px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  box-shadow: inset 0 -5px 0 #007fff;
}
article .highlight-link:hover {
  box-shadow: inset 0 -55px 0 0 #007fff;
  color: white;
}
</style>

<article>
  <h1><strong>Hallo!</strong> 👋</h1>
  <h1>Ich bin <strong>Christoph Stade,</strong>
      Medieninformatik Student an der
      <a class="highlight-link" href="https://www.th-nuernberg.de/" target="_blank">
          TH Nuernberg
      </a>. Willkommen auf meiner Website.
  </h1>

  <br>
  <p><b style="font-size: 200%; color:#007fff">GitHub</b></p>

<div class="github-card" data-github="chris234567" data-width="270" data-height="150" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

</article>




{% endblock %}