{% extends "base.html" %}
{% load static %}
{% block page_content %}

<article>
  <h1><strong>Hallo!</strong> 👋</h1>
  <h1>Ich bin <strong>Christoph Stade,</strong>
      Medieninformatik Student an der
      <a class="highlight-link" href="https://www.th-nuernberg.de/" target="_blank">
          TH Nuernberg
      </a>. Wilkommen auf meiner Website.
  </h1>

  <br>
  <p><b style="font-size: 200%; color:#007fff">GitHub</b></p>

<div class="github-card" data-github="chris234567" data-width="270" data-height="150" data-theme="default"></div>
<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

</article>




{% endblock %}