{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

<text>
        <a style="text-decoration:none" href="{% url 'home' %}">
            <span style="font-weight: bolder; font-size: 250%; color:grey;">
                👨🏻‍💻 Christoph Stade
            </span>
        </a>


        <a style="text-decoration:none" href="{% url 'project_index' %}">
            <span style="font-weight: bolder; font-size: 144%; color:grey">
                Projects
            </span>
        </a>

        <!--
          <a href="{% url 'blog_index' %}">Blog</a>    # not used atm
        -->

        <a style="text-decoration:none" href="{% url 'About' %}">
            <span style="font-weight: bolder; font-size: 144%; color:deeppink">
                About
            </span>
        </a>
</text>

<!--
<hr style="width: 600px; border: solid grey; fill: #36363c">
-->

{% block page_content %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>

