{% extends "base.html" %}
{% load static %}
{% block page_content %}


<article>
  <h1 style="color:deeppink;">
      <strong>About</strong>
  </h1>

<div>
    <h2>Zu Mir</h2>
    <p style="font-size: 110%">
        Hi, Ich bin Christoph und studiere an der TH Nuernberg Medieninformatik.
    </p>
    <p style="font-size: 110%">
        Ich spiele Geige und mache gerne Sport, unter anderem Radfahren.
    </p>
    <p style="font-size: 110%">
        Neben der Uni macht es mir riesen Spass an Projekten, wie z.b. dieser Website, zu arbeiten.
    </p>
    <p style="font-size: 110%">
        Wenn dich meine Projekete interessieren kannst du dich gerne mal auf meiner GitHub Page umschauen:)
    </p>
</div>

<div>
    <h4>Kontakt</h4>
    <p style="font-size: 110%">
        E-mail: christoph-stade@outlook.de
        <br>
        LinkedIn: https://www.linkedin.com/in/christoph-stade-a267151b7
    </p>
</div>

</article>

{% endblock %}