{% extends "base.html" %}
{% load static %}
{% block page_content %}

<!--css styling is not external because import doesnt work somehow-->

<style>
@import url("https://fonts.googleapis.com/css?family=Lora:400,700|Source+Sans+Pro:300,400|Dosis:300,400,700");
text {
  position: relative;
  top: 20px;
  left: 80px;
  max-width: 900px;
  margin: 0px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
}
article {
  max-width: 900px;
  margin: 20px;
  padding: 0px;
  font-family: "Source Sans Pro", sans-serif;
  color: #36363c;
}
article h1 {
  font-weight: 300;
  line-height: 1.5;
  font-size: 2.5rem;
}
article .highlight-link {
  text-decoration: none;
  color: #36363c;
  display: inline-block;
  padding: 0px 7px;
  transition: all 0.2s ease-in-out;
  box-sizing: border-box;
  box-shadow: inset 0 -5px 0 #007fff;
}
article .highlight-link:hover {
  box-shadow: inset 0 -55px 0 0 #007fff;
  color: white;
}
</style>

<text>
<article>
  <h1 style="color:deeppink;">
      <span style="font-weight: bolder">About</span>
  </h1>

<div>
    <h2>Zu Mir</h2>
    <p style="font-kerning: none; font-size: 110%">
        Hi, Ich bin Christoph und studiere an der TH Nuernberg Medieninformatik.
    <br>
        Ich spiele Geige und mache gerne Sport, unter anderem Radfahren.
    <br>
        Neben der Uni macht es mir riesen Spass an Projekten, wie z.b. dieser Website, zu arbeiten.
    <br>
        Wenn dich meine Projekete interessieren kannst du dich gerne mal auf meiner GitHub Page umschauen:)
    </p>
</div>

<div>
    <h4>Kontakt</h4>
    <p style="font-size: 110%">
        <a style="text-decoration:none; color:deepskyblue" href="mailto:christoph-stade@outlook.de">
            <b>
            E-mail: christoph-stade@outlook.de
            </b>
        </a>
        <br>
        <a style="text-decoration:none; color:deepskyblue" href="https://www.linkedin.com/in/christoph-stade-a267151b7/">
            <b>
            LinkedIn: https://www.linkedin.com/in/christoph-stade-a267151b7
            </b>
        </a>
    </p>
</div>

</article>
</text>

{% endblock %}